        /*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
        
        * {
            font-family: Helvetica, Arial, sans-serif;
            line-height: 1.6;
        }
        
        body {
            background-image: url(img/bg.jpg);
        }
        
        #site_header {
            background-color: #ff8523;
            height: 150px;
            padding-top: 20px;
            padding-left: 20px;
            margin: 10px 100px;
            border-color: #ffd24a;
        }
        
        #logo {
            padding-bottom: 2px;
        }
        
        .name {
            background-color: #ff8523;
        }
        
        .main_navigation a {
            color: #eee;
            text-decoration: none;
            font-weight: bold;
            border-style: solid;
            border-color: #eee;
            padding: 10px 15px;
            border-width: 1px;
            border-radius: 5px;
        }
        
        h2, h3 {
            color: #1fabe5;
        }
        
        #page_content {
            background-color: white;
            margin: 0px 100px;
        }
        
        #page_content li {
            font-weight: bold;
        }