        /*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
        
        * {
            font-family: Helvetica, Arial, sans-serif;
            line-height: 1.6;
        }
        
        body {
            background-image: url(img/bg.jpg);
            margin-left: 100px;
            margin-right: 100px;
            border: solid 2px #ffd24a;
            border-radius: 4px;
        }
        
        header {
            background-color: #ff8523;
            height: 140px;
            padding-left: 20px;
            padding-top: 20px;
        }
        
        .main_navigation a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            border-style: solid;
            border-color: #eee;
            padding: 10px 30px 10px 30px;
            border-width: 1px;
            border-radius: 5px;
        }
        
        .main_navigation {
            margin-top: 20px;
        }
        
        p a {
            color: #1fabe5;
        }
        
        h2, h3 {
            color: #1fabe5;
        }
        
        #page_content {
            background-color: #fff;
            padding: 20px;
        }
        
        #page_content section {
            border-bottom: 4px solid #dddddd;
            padding-bottom: 30px;
        }
        
        #page_content li {
            font-weight: bold;
        }
        
        table {
            width: 100%;
        }
        
        table, td {
            border: 1px solid #1fabe5;
            border-collapse: collapse;
        }
        
        tbody td {
            padding: 10px;
        }
        
        tbody td img {
            height: 50px;
        }
        
        thead td {
            background-color: #1fabe5;
            color: #fff;
            border: 1px solid #046c97;
            padding: 10px;
        }
        
        form {
            background-color: #dddddd;
            border-radius: 6px;
            padding: 20px;
            font-weight: bold;
        }
        
        div.name {
            background-color: #ff8523;
            padding: 20px;
            border-radius: 6px;
            color: #fff;
        }
        
        #first_name, #last_name {
            height: 30px;
            width: 200px;
        }
        
        .city_container {
            padding: 20px 0;
        }
        
        #submit_button {
            color: #fff;
            background-color: #1fabe5;
        }